<div class="wrapper">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Pet</p-tab>
            <p-tab value="1">Owner</p-tab>
            <p-tab value="2">Medical</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">
                    <app-pet-details></app-pet-details>
                </p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0">
                    <app-owner-details></app-owner-details>
                </p>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0">
                    <app-medical-details></app-medical-details>
                </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
