<div class="wrapper">
    <div class="card shadow-xl">
        <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
            <p-step-list>
                <p-step [value]="1">Profile</p-step>
                <p-step [value]="2">Pet</p-step>
                <p-step [value]="3">Proceed</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div class="content">
                                <app-profile (form)="setUserForm($event)"></app-profile>
                            </div>
                            <div class="flex pt-6 justify-end">
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>
        
                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <app-pet></app-pet>
                        <div class="flex pt-6 justify-between">
                            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                        </div>
                    </ng-template>
                </p-step-panel>
        
                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <app-proceed></app-proceed>
                        <div class="flex pt-6 justify-start">
                            <p-button label="Back" icon="pi pi-arrow-left" iconPos="left" (onClick)="activateCallback(2)" severity="secondary"/>
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>
</div>