<article [formGroup]="newPassForm">
  <h3>Change Password</h3>

  <p-floatlabel variant="in">
    <p-password
      [toggleMask]="true"
      inputId="in_label"
      [fluid]="true"
      formControlName="oldPass"
      [feedback]="false"
    >
    </p-password>
    <label for="in_label">Old Password</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <p-password
      [toggleMask]="true"
      inputId="in_label"
      [fluid]="true"
      formControlName="newPass"
    >
      <ng-template #footer>
        <ul class="pl-2 ml-2 my-0 leading-normal">
          <li>At least one lowercase</li>
          <li>At least one uppercase</li>
          <li>At least one numeric</li>
          <li>Minimum 8 characters</li>
        </ul>
      </ng-template>
    </p-password>
    <label for="in_label">New Password</label>
  </p-floatlabel>

  <p-button label="Submit" [fluid]="true" [disabled]="!newPassForm.valid" (onClick)="onSubmit()"/>
</article>
