@use '../../../../styleVariables.scss' as SV;

article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: SV.$text-color;
    font-family: "Inter";
    overflow: visible !important;
    position: relative;

    h3 {
        font-family: 'Poppins';
        font-weight: SV.$medium;
        margin: 0;
        margin-bottom: 10px;
    }

    p-button {
        margin-top: 10px;
        font-family: "Poppins";
    }
}

li {
    list-style-type: disc;
    margin-left: 10px;
}

:host ::ng-deep .p-button {
    background-color: SV.$thirty;
    border-color: SV.$thirty;
}

:host ::ng-deep .p-button:hover {
    background-color: SV.$thirty-hover;
    border-color: SV.$thirty-hover;
}

:host ::ng-deep p-floatlabel {
    overflow: visible;
}

