<div class="wrapper">
    <div class="board">
        <aside class="left">
            <div class="logo">
                <img src="\assets\Logo\logo_pic.png" alt="Pawfile Logo">
            </div>

            <article>
                <app-search-bar></app-search-bar>

                <div class="cards w-full grid grid-cols-2 gap-4">
                    <app-card class="col-span-1"></app-card>
                    <app-card class="col-span-1"></app-card>
                    <app-card class="col-span-1"></app-card>
                    <app-card class="col-span-1"></app-card>
                    <app-card class="col-span-1"></app-card>
                    <app-card class="col-span-1"></app-card>
                    <app-card class="col-span-1"></app-card>
                </div>
            </article>
        </aside>

        <aside class="right">
            
        </aside>
    </div>
</div>