<div class="wrapper">
  <div class="board">
    <aside class="left">
      <div class="logo">
        <img src="\assets\Logo\logo_pic.png" alt="Pawfile Logo" />
      </div>

      <article>
        <app-search-bar></app-search-bar>

        <div class="cards w-full grid grid-cols-2 gap-4">
          @if(petsCard.petsCard.length >= 1){
            @for(card of petsCard.petsCard;track card) {
            <app-card class="col-span-1" [name]="card.name" [id]="card._id" [profilePic]="card.profilePic"
              (petSelected)="onPetSelected($event)"></app-card>
          }
          }
          @else {
          <p-skeleton height="220px" width="100%" class="col-span-1" />
          <p-skeleton height="220px" width="100%" class="col-span-1" />
          <p-skeleton height="220px" width="100%" class="col-span-1" />
          <p-skeleton height="220px" width="100%" class="col-span-1" />
          <p-skeleton height="220px" width="100%" class="col-span-1" />
          <p-skeleton height="220px" width="100%" class="col-span-1" />
          }
        </div>
      </article>
    </aside>

    <aside class="right">
      <app-nav></app-nav>

      <section>
        @if(isThereSelectedPet) {
        <div class="profile-message">
          <app-profile-pic></app-profile-pic>
          <h1>{{ petProfileDetails.petDetails.name }}</h1>
          <app-message></app-message>
        </div>

        <div class="carousel">
          <app-carousel></app-carousel>
        </div>

        <div class="profile-details">
          <div class="wrapper">
            <p-tabs value="0">
              <p-tablist>
                <p-tab value="0">Pet</p-tab>
                <p-tab value="1">Owner</p-tab>
                <p-tab value="2">Medical</p-tab>
              </p-tablist>
              <p-tabpanels>
                <p-tabpanel value="0">
                  <p class="m-0">
                    <app-pet-details></app-pet-details>
                  </p>
                </p-tabpanel>
                <p-tabpanel value="1">
                  <p class="m-0">
                    <app-owner-details></app-owner-details>
                  </p>
                </p-tabpanel>
                <p-tabpanel value="2">
                  <p class="m-0">
                    <app-medical-details></app-medical-details>
                  </p>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </div>
        </div>
        } @else {
        <div class="empty">
          <h1>Select a Pet you want to display</h1>
        </div>
        }
      </section>
    </aside>
  </div>

  <p-speeddial [model]="speedDialItems" direction="up" [style]="{ position: 'absolute', right: 0, bottom: 0 }"
    [buttonProps]="{ severity: 'info', rounded: true }" [tooltipOptions]="{ tooltipPosition: 'left' }" [mask]="true" />

  <div class="dialog">
    <p-dialog header="Your Pet QR code" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }"
      maskStyleClass="backdrop-blur-sm">
      <div class="qrcodeImage flex align-center flex-1 flex-col">
        <qrcode class="flex justify-center" [qrdata]="petQRCode" [allowEmptyString]="true"
          (qrCodeURL)="onChangeURL($event)" [ariaLabel]="'QR Code image with the following content...'"
          [cssClass]="'center'" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'" [imageSrc]="'/assets/Logo/logo_2.png'" [imageHeight]="75" [imageWidth]="75"
          [margin]="4" [scale]="1" [title]="'A custom title attribute'" [width]="300"></qrcode>

        <div class="downloadButton">
          <a color="primary" [href]="qrCodeDownloadLink"
            [download]="petProfileDetails.petDetails.name + ' qr-code'">Download QR Code Image</a>
        </div>
      </div>
    </p-dialog>
  </div>
</div>