<div class="wrapper">
    <div class="board">
        <aside class="left">
            <div class="logo">
                <img src="\assets\Logo\logo_pic.png" alt="Pawfile Logo">
            </div>

            <article>
                <app-search-bar></app-search-bar>

                <div class="cards w-full grid grid-cols-2 gap-4">
                    @if(petsCard.petsCard.length){
                        @for(card of petsCard.petsCard; track card) {
                            <app-card class="col-span-1" [name]="card.name" [profilePic]="card.profilePic"></app-card>
                        }
                    }
                    @else {
                        <p-skeleton height="220px" width="100%" class="col-span-1" />
                        <p-skeleton height="220px" width="100%" class="col-span-1" />
                        <p-skeleton height="220px" width="100%" class="col-span-1" />
                        <p-skeleton height="220px" width="100%" class="col-span-1" />
                        <p-skeleton height="220px" width="100%" class="col-span-1" />
                        <p-skeleton height="220px" width="100%" class="col-span-1" />
                    }
                </div>
            </article>
        </aside>

        <aside class="right">
            <app-main-section></app-main-section>
        </aside>
    </div>
</div>