@use "../sign-in/sign-in.component.scss";
@use "../../../../styleVariables.scss" as styleVariables;

.password {
    display: flex;
    flex-direction: column;

    span {
        display: block;
        padding-left: 50px;
        padding-top: 5px;
        font-size: 12px;
        color: rgb(225, 0, 0);
        font-family: "Inter";
        font-weight: styleVariables.$light;
        height: 0px;
        overflow: hidden;
        transition: 0.5s;
    }

    .open {
        height: 20px;
    }
}


.confirm-input.dirty.ng-touched {
    border-color: rgb(225, 0, 0) !important;
}

:host ::ng-deep p-floatlabel.confirm-input div {
    width: 100% !important;
}