<p-toast />

<div class="card">
  <div class="card-header">
    <div class="logo">
      <img src="\assets\Logo\logo_2.png" alt="logo" />
      <span>awFile</span>
    </div>
  </div>

  <div #content class="content">
    @if (formState == signInformState) {
    <app-sign-in (forgotFormState)="onForgotPassClicked($event)" (message)="showMessage($event)"></app-sign-in>
    } @else if (formState == createAccountformState) {
    <app-create-account
      (formState)="emittedFormState($event)"
      (userCredentials)="emittedUserCredentials($event)"
    ></app-create-account>
    } @else if (formState == forgotPassformState) {
    <app-forgot-pass
      (signinFormState)="onBackToSigninClicked($event)"
      (newPassFormState)="onNewPass($event)"
      (toastMessage)="showMessage($event)"
      (email)="emittedUserEmail($event)"
    ></app-forgot-pass>
    } @else if(formState == emailVerification) {
    <app-email-verification
      [userCredentials]="createdUserCredentials"
      (incorrectEmail)="onIncorrectEmailClicked($event)"
    ></app-email-verification>
    } @else if(formState == newPassformState) {
    <app-new-pass [email]="userEmail"></app-new-pass>
    }
  </div>
</div>

@if (formState == signInformState) {
<div class="bottomText">
  <span>New to PawFile?</span>
  <span class="createAccountBtn" (click)="changeFormStateToCreateAccount()"
    >Create account</span
  >
</div>
} @else if (formState == createAccountformState) {
<div class="bottomText">
  <span>Already has account?</span>
  <span class="createAccountBtn" (click)="changeFormStateToSignIn()"
    >Sign in</span
  >
</div>
}
