@use "../../../styleVariables.scss" as styleVariables;


.card {
    background-color: styleVariables.$bg-color2;
    box-shadow: 5px 5px 20px #d9d4cc, -5px -5px 20px #ffffff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 45px;
    width: 60%;
    max-width: 450px;
    transition: height 1s linear;

    .logo {
        display: flex;
        justify-content: center;
        align-items: end;

        img {
            width: 83px;
        }

        span {
            font-size: 32px;
            font-weight: 700;
            font-family: "Poppins";
            color: styleVariables.$sixty;
        }
    }

    .content {
        transition: height 1s;
        padding: 5px;
        overflow: hidden;
        height: 0px;

        app-sign-in,
        app-create-account,
        app-forgot-pass {
            display: flex;
            flex-direction: column;
            gap: 20px;
            transition: height 1s;

        }

        app-sign-in {
            height: 374px;
        }

        app-create-account {
            height: 418px;
        }
    }

    .open-sign-in {
        height: 374px;
    }

    .open-create-account {
        height: 418px;
    }
}

.bottomText {
    display: flex;
    gap: 5px;

    span {
        font-family: 'Poppins';
        font-weight: styleVariables.$light;
        font-size: 14px;
    }

    .createAccountBtn {
        color: styleVariables.$five1;
    }

    .createAccountBtn:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}