<div class="wrapper">
    @if (done) {
        <i class="pi pi-check text-green-800" style="font-size: 3.5rem; color: green"></i>
        <h1 class="text-green-800">Done</h1>
        <h2>Redirecting to dashboard ... </h2>
    }
    @else if (isProceeded) {
    <div class="progressBar">
        <div class="spinner">
            <p-progress-spinner ariaLabel="loading" />
        </div>

        <p-progressbar [value]="progressBarValue" [style]="{ width: '100%' }" />

        <h1>Submiting forms ... {{ finished }} / {{ totalSteps }}</h1>
    </div>
    } @else {
    <h1>You can also edit the profiles later, do you want to proceed?</h1>
    <p-button label="Proceed" (onClick)="submitForms()"/>
    }
</div>