<div class="wrapper">
    @if (isProceeded) {
    <div class="progressBar">
        <div class="spinner">
            <p-progress-spinner ariaLabel="loading" />
        </div>

        <p-progressbar [value]="progressBarValue" [style]="{ width: '100%' }" />

        <h1>Submiting forms ... {{ finished }} / {{ totalSteps }}</h1>
    </div>
    } @else {
    <h1>You can also edit the profiles later, do you want to proceed?</h1>
    <p-button label="Proceed" (onClick)="submitForms()"/>
    }
</div>