<div class="wrapper grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5" [formGroup]='medicalDetailsForm'>
    <div class="btn">
      <p-button
        icon="pi pi-pen-to-square"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (click)="visible = true"
      />
  
      <!-- <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" />
      <p-button icon="pi pi-check" [rounded]="true" [text]="true" severity="success" /> -->
  
    </div>
  
    <div class="col-span-1">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          formControlName="vetClinicName"
          variant="filled"
          [readonly]="true"
          [disabled]="true"
        />
        <label for="on_label">Vet Clinic Name</label>
      </p-floatlabel>
    </div>
  
    <div class="col-span-1">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          formControlName="vetClinicPhoneNumber"
          variant="filled"
          [readonly]="true"
          [disabled]="true"
        />
        <label for="on_label">Phone Number</label>
      </p-floatlabel>
    </div>
  
    <div class="col-span-1">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          formControlName="vaccination"
          variant="filled"
          [readonly]="true"
          [disabled]="true"
        />
        <label for="on_label">Vaccinations</label>
      </p-floatlabel>
    </div>
  
    <div class="col-span-1">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          formControlName="allergies"
          variant="filled"
          [readonly]="true"
          [disabled]="true"
        />
        <label for="on_label">Allergies</label>
      </p-floatlabel>
    </div>
  
    <div class="col-span-1">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          formControlName="medications"
          variant="filled"
          [readonly]="true"
          [disabled]="true"
        />
        <label for="on_label">Medications</label>
      </p-floatlabel>
    </div>

    <div class="dialog">
      <p-dialog
        header="Edit Pet Medical Info"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: 'auto' }"
        maskStyleClass="backdrop-blur-sm"
      >
        <div class="grid grid-cols-2 gap-4 pt-2 box-border">
          <div class="flex items-center gap-4 col-span-1">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="on_label"
                autocomplete="off"
                formControlName="vetClinicName"
              />
              <label for="on_label">Vet Clinic Name</label>
            </p-floatlabel>
          </div>
    
          <div class="flex items-center gap-4 col-span-1">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="on_label"
                autocomplete="off"
                formControlName="vetClinicPhoneNumber"
              />
              <label for="on_label">Vet Clinic Phonenumber</label>
            </p-floatlabel>
          </div>
    
          <div class="flex items-center gap-4 col-span-1">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="on_label"
                autocomplete="off"
                formControlName="vaccination"
              />
              <label for="on_label">Vaccinations</label>
            </p-floatlabel>
          </div>
    
          <div class="flex items-center gap-4 col-span-1">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="on_label"
                autocomplete="off"
                formControlName="allergies"
              />
              <label for="on_label">Allergies</label>
            </p-floatlabel>
          </div>
    
          <div class="flex items-center gap-4 col-span-1  ">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="on_label"
                autocomplete="off"
                formControlName="medications"
              />
              <label for="on_label">Medications</label>
            </p-floatlabel>
          </div>
        </div>
        <!-- <span class="p-text-secondary block mb-8">Update pet information.</span> -->
        <div class="flex justify-end gap-2 mt-5">
          <p-button label="Cancel" severity="secondary" (click)="visible = false" />
          <p-button label="Save" (click)="visible = false" (onClick)="onSave()"/>
        </div>
      </p-dialog>
    </div>
  </div>
  