<div class="wrapper">
    <div class="image">
        <p-image [src]="profilePic" alt="Image" width="250" />

        <div class="overlay">
            <p-button icon="pi pi-pen-to-square" [rounded]="true" severity="secondary" (onClick)="visible = true"/>
        </div>
    </div>

    <div class="dialog">
        <p-dialog header="Upload New Profile Picture" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" maskStyleClass="backdrop-blur-sm">
            <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="petProfilePic" url="" accept="image/*" maxFileSize="1000000" (onSelect)="emitSelectedFile($event)" />
            
    
            <div class="gap-2 mt-5">
                <p-button label="Upload" (onClick)="onUpload()" severity="success" [fluid]="true" />
                <!-- <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" (click)="visible = false" (onClick)="onSave()" /> -->
            </div>
        </p-dialog>
    </div>
</div>