@use '../../../../../../styleVariables.scss' as SV;

.card {
    background-color: SV.$bg-color1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter';
    align-items: center;
    justify-content: center;
    height: 220px;
    position: relative;
    
    img {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    p {
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    button {
        position: absolute;
        background-color: transparent;
        height: 100%;
        width: 100%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.079);
        }
    }
}

.selectedPet {
    background-color: SV.$thirty;
    color: SV.$bg-color1;
}