<div class="wrapper">
    <p-button
        icon="pi pi-pen-to-square"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="visible = true"
      />
      @if(petImages.length == 0) {
        <div class="empty">
            <h1>You can add images of your pet here</h1>
        </div>
      }
      @else {
        <p-carousel [value]="petImages" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
            <ng-template let-petImage #item>
                <div class="border border-surface rounded-border m-2 p-4">
                    <div class="mb-4">
                        <div class="relative mx-auto">
                            <img [src]="petImage.imageUrl" class="w-full rounded-border" />
                        </div>
                    </div>
                </div>
            </ng-template> 
        </p-carousel>
      }

      <p-dialog header="Edit Carousel" [modal]="true" [(visible)]="visible" [style]="{ width: 'auto' }">
        <div class="flex justify-end gap-2">
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-plus" chooseLabel="Add Photo" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" />
        </div>

        <div>
            <img src="">
        </div>
    </p-dialog>
</div> 