<div class="wrapper">
    <p-confirmpopup />
    <p-button icon="pi pi-pen-to-square" [rounded]="true" [text]="true" severity="secondary"
        (onClick)="visible = true" />
    @if(petImages.length == 0) {
    <div class="empty">
        <h1>You can add images of your pet here</h1>
    </div>
    }
    @else {
    <p-carousel [value]="petImages" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions" [showIndicators]="false">
        <ng-template let-petImage #item>
            <div class="border border-surface rounded-border m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img [src]="petImage" class="w-full rounded-border" />
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    }

    <p-dialog header="Edit Carousel" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <div class="flex justify-end gap-2">
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-plus" chooseLabel="Add Photo"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                (onUpload)="onBasicUploadAuto($event)" [auto]="true" [disabled]="petImages.length == 5" />
        </div>

        @if(petImages.length == 0) {
            <h1 class="mt-5 h-48 flex items-center justify-center text-gray-400" >Add photos to carousel</h1>
        }
        @else {
            @for(image of petImages; track image;) {
                <div class="image flex justify-between p-4 items-center mt-5">
                    <img [src]="image"
                        alt="carousel image">
                    <p-button icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true" (onClick)="deleteConfirm($event)" />
                </div>
            }
        }
    </p-dialog>
</div>