<div class="wrapper">
    <p-button
        icon="pi pi-pen-to-square"
        [rounded]="true"
        [text]="true"
        severity="secondary"
      />
      @if(petImages.length == 0) {
        <div class="empty">
            <h1>You can add images of your pet here</h1>
        </div>
      }
      @else {
        <p-carousel [value]="petImages" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
            <ng-template let-petImage #item>
                <div class="border border-surface rounded-border m-2 p-4">
                    <div class="mb-4">
                        <div class="relative mx-auto">
                            <img [src]="petImage.imageUrl" class="w-full rounded-border" />
                        </div>
                    </div>
                </div>
            </ng-template> 
        </p-carousel>
      }
</div>