<div class="wrapper grid grid-cols-3 gap-5">
    <div class="btn">
        <!-- <p-button
          icon="pi pi-pen-to-square"
          [rounded]="true"
          [text]="true"
          severity="secondary"
        /> -->

        <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" />
        <p-button icon="pi pi-check" [rounded]="true" [text]="true" severity="success" />

    </div>

    <div class="pic col-span-3">
        <p-avatar image=\assets\Images\aOQjQ96_700b.jpg class="mr-2" size="large" shape="circle" />
        <span>Lorem ipsum</span>
    </div>

    <div class="col-span-1">
        <p-inputmask id="in_label" mask="(+63)999-999-9999" placeholder="Phone Number" />
    </div>

    <div class="col-span-1">
        <input pInputText type="text" placeholder="Email" />
    </div>

    <div class="col-span-1">
        <input pInputText type="text" placeholder="Address" />
    </div>
</div>