<div class="wrapper grid grid-cols-3 gap-5" [formGroup]='petDetailsForm'>
  <div class="btn">
    <p-button
      icon="pi pi-pen-to-square"
      [rounded]="true"
      [text]="true"
      severity="secondary"
    />

    <!-- <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" />
    <p-button icon="pi pi-check" [rounded]="true" [text]="true" severity="success" /> -->

  </div>

  <div class="col-span-1">
    <input
      class="readOnly"
      pInputText
      type="text"
      placeholder="Species"
      variant="filled"
      [readonly]="true"
      [disabled]="true"
      formControlName="species"
    />
  </div>

  <div class="col-span-1">
    <input pInputText type="text" placeholder="Breed" formControlName="breed"/>
  </div>

  <div class="col-span-1">
    <input pInputText type="text" placeholder="Age" formControlName="age"/>
  </div>

  <div class="col-span-1">
    <input pInputText type="text" placeholder="Color" formControlName="color"/>
  </div>

  <div class="col-span-1">
    <input pInputText type="text" placeholder="Gender" formControlName="gender"/>
  </div>

  <div class="col-span-1">
    <input pInputText type="text" placeholder="Temperament" formControlName="temperament" />
  </div>
</div>
