<div class="wrapper">
  <header>
    <h2>Verify it's you</h2>
    <p>
      We sent verification code to {{userCredentials.email}}. Please check your inbox and enter the code
      below. <span (click)="emitIncorrectEmail()" class="incorrect-email">Incorrect email?</span>
    </p>
  </header>

  <article>
    <p-inputotp [(ngModel)]="code" [length]="6" [integerOnly]="true" />
  </article>

  <footer>
    <p-button label="Verify code" severity="info" (onClick)="onCodeSubmit()"/>
    <span>Didn't receive code? </span> 
    @if(isResendCountdownActive) {
      <span class="resend" style="margin-left: 5px;"> {{resendCountdown}}s</span>
    }
    @else {
      <span (click)="resendEmailVerification()" class="resend"> Resend</span>
    }
  </footer>
</div>
