@use "../../../../styleVariables.scss" as styleVariables;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    p,
    h2 {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-family: "Poppins";
            font-weight: styleVariables.$semi-bold;
            color: styleVariables.$text-color;
        }

        p {
            font-family: "Inter";
            font-weight: styleVariables.$regular;
            font-size: 12px;
            color: styleVariables.$text-color;
            line-height: 1.5rem;
            text-align: left;
        }

    }

    span {
        font-family: "Inter";
        font-weight: styleVariables.$light;
        font-size: 14px;
    }
    .resend, .incorrect-email {
        color: styleVariables.$five1;
    }

    .resend:hover, .incorrect-email:hover {
        cursor: pointer;
        text-decoration: underline;
    }


    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;

        p-button {
            width: 100%;
        }
    }
}

:host ::ng-deep .p-inputotp-input {
    width: 16.66%;
    height: 60px;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: styleVariables.$medium;
    background-color: styleVariables.$bg-color1;
    color: styleVariables.$text-color;
}

:host ::ng-deep p-button button {
    width: 100%;
    font-family: "Poppins";
    font-weight: styleVariables.$semi-bold;
    font-size: 16px;
    background-color: styleVariables.$thirty;
    border-color: styleVariables.$thirty;
    color: styleVariables.$bg-color1;
}   

:host ::ng-deep p-button button:hover {
    background-color: #217272 !important;
    color: styleVariables.$bg-color1;
}