@use "../../styleVariables.scss" as styleVariables;

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: styleVariables.$bg-color2;

  app-left-side {
    height: 100%;
    width: 40%;
  }

  app-right-side {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
