@use '../../../../../../../../styleVariables.scss' as SV;


.wrapper {
    width: 100%;
    height: 100%;
    background-color: SV.$bg-color2;
    border: 1px solid SV.$bg-color1-border; 
    position: relative;
    padding: 10px;
}

:host ::ng-deep p-carousel img {
    height: 200px;
    object-fit: cover;
}

:host ::ng-deep p-carousel .border {
    background-color: SV.$bg-color1;
}
