<div class="wrapper grid grid-cols-3 gap-5" [formGroup]='medicalDetailsForm'>
    <div class="btn">
      <p-button
        icon="pi pi-pen-to-square"
        [rounded]="true"
        [text]="true"
        severity="secondary"
      />
  
      <!-- <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" />
      <p-button icon="pi pi-check" [rounded]="true" [text]="true" severity="success" /> -->
  
    </div>
  
    <div class="col-span-1">
      <input
        class="readOnly"
        pInputText
        type="text"
        placeholder="Vet clinic name"
        variant="filled"
        [readonly]="true"
        [disabled]="true"
        formControlName="vetClinicName"
      />
    </div>
  
    <div class="col-span-1">
        <p-inputmask id="in_label" mask="(+63)999-999-9999" formControlName="vetClinicPhoneNumber" placeholder="Vet Clinic Phone Number"/>
    </div>
  
    <div class="col-span-1">
      <input pInputText type="text" placeholder="Vaccinations" formControlName="vaccinations"/>
    </div>
  
    <div class="col-span-1">
      <input pInputText type="text" placeholder="Allergies" formControlName="allergies"/>
    </div>
  
    <div class="col-span-1">
      <input pInputText type="text" placeholder="Medications" formControlName="medications" />
    </div>
  </div>
  